@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  min-width: 320px;
  max-width: 450px;
  /* à supprimer une fois la version mobile terminée*/
  background-color: white;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", cursive;
}

nav {
  width: 100%;
}

button {
  /*reset du style des boutons*/
  all: initial;
  cursor: pointer;
}

.logo {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5% 0%;
  font-size: xx-large;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 5% 0%;
  background-color: rgb(224, 224, 224);
  font-size: 15px;
}
.localisation__marker {
  padding-right: 15px;
}

.section1 {
  /*début de la section1*/
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  text-align: center;
  background-color: rgb(247, 247, 247);
}
.section1__accroche {
  width: 65%;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 700;
  padding: 0% 10%;
}
.section1__description {
  width: 90%;
  color: dimgray;
  font-size: large;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0px 10px;
  margin-bottom: 20px;
}
.section1__explorer {
  /*Bouton*/
  font-family: "Roboto", sans-serif;
  font-size: large;
  font-weight: 500;
  color: rgb(247, 247, 247);
  padding: 20px 30px;
  border-radius: 50px;
  background: rgb(255, 121, 218);
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
  margin-bottom: 50px;
  transition: ease 0.3s;
}
.section1__explorer:hover {
  box-shadow: 0px 0px 5px #9356dc;
}

/*fin de la section1*/
.section2 {
  /*début de la section2*/
  /* a supprimer*/
  padding: 10% 0%;
}
.section2__titre, .section3__titre {
  margin: 0% 7%;
  font-size: 25px;
  font-weight: 700;
}
.section2__steps {
  /*Container des div étapes*/
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
}
.section2__steps--step1, .section2__steps--step2, .section2__steps--step3 {
  /*boites des étapes*/
  display: flex;
  align-items: center;
  padding: 30px;
  margin: 15px 0px;
  border-radius: 20px;
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: ease 0.3s;
}
.section2__steps--step1::before, .section2__steps--step2::before, .section2__steps--step3::before {
  content: attr(data-step);
  font-size: small;
  color: white;
  text-align: center;
  line-height: 30px;
  position: absolute;
  translate: -45px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #9356dc;
}
.section2__steps--step1:hover, .section2__steps--step2:hover, .section2__steps--step3:hover {
  background-color: rgb(247, 237, 255);
}
.section2__steps--step1 i, .section2__steps--step2 i, .section2__steps--step3 i {
  font-size: 19px;
}
.section2__steps--step1--text, .section2__steps--step2--text, .section2__steps--step3--text {
  margin: auto;
  font-weight: 700;
}
.section2__steps--step1 {
  margin-top: 0px;
}

/*fin de la section2*/
.section3 {
  background-color: rgb(247, 247, 247);
  padding-top: 10%;
}
.section3__cartes {
  /*container de toutes les cartes*/
  margin: 0px auto;
  width: 100%;
  padding: 10% 0%;
}
.section3__cartes--carte {
  /*structure d'une carte*/
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  height: 280px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}
.section3__cartes--carte--cardimage {
  /*container de l'image*/
  height: 200px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}
.section3__cartes--carte--cardimage--img {
  /*image*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section3__cartes--carte--cardtext {
  /*container du texte*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  margin-top: 5%;
}
.section3__cartes--carte--cardtext--texte {
  /*div titre + localisation*/
  background-color: white;
}
.section3__cartes--carte--cardtext--texte--titre {
  font-size: large;
  font-weight: 700;
  margin-bottom: 2%;
}
.section3__cartes--carte--cardtext--texte--lieu {
  font-weight: 300;
}
.section3__cartes--carte--icone {
  height: fit-content;
}
.section3__cartes--carte--icone--coeur {
  /*coeur*/
  font-size: 24px;
}
.section3__cartes--carte--icone--coeur:target {
  color: #9356dc;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  width: 100%;
}
footer a {
  /*liens du footer*/
  color: white;
}

.textfooter {
  /*container du texte*/
  padding: 5%;
}
.textfooter__titre {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}
.textfooter__cta {
  /*liens*/
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 10px;
}
.textfooter__cta-1, .textfooter__cta-2 {
  font-size: 12px;
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
